[2018-02-16 00:27] kishorenc opened #1 "Publish to NPM"

[2018-02-16 00:31] kishorenc opened #2 "Use a configuration class rather than an object"
Similar to: https://github.com/wreally/typesense-ruby/issues/9
(just to ensure that all clients maintain the same convention)

[2018-03-18 06:38] #2 closed, assigned to jasonbosco

[2018-03-18 06:38] jasonbosco opened #3 "Setup CircleCI"

[2018-03-18 07:30] #3 closed, assigned to nobody

[2018-04-04 04:43] jasonbosco commented on #1
Done: https://www.npmjs.com/package/typesense

[2018-04-04 04:43] #1 closed

[2018-04-04 04:56] jasonbosco opened #7 "Setup greenkeeper-lockfile"
Based on Greenkeeper's instructions from here: https://github.com/typesense/typesense-js/pull/6

[2018-06-14 13:27] dpastoor opened #10 "relative uri"
Hi,

Is there any way to use the typesense client in a way that does not hard code the entire protocol? Namely, I would like to use relative url (eg `/typesense`) such that if the url changes the interaction would still work.

As of now I guess the solution would be to manually extract that information from the `window.location`, however that does not feel like a great option.

Any thoughts?

[2018-06-14 14:01] dpastoor opened #11 "protocol should take trailing `:`"
the protocol format for the URL per the `window.location` object, and URL spec includes a trailing `:`

[code]

perhaps could 'sanitize' the protocol on construction to remove a trailing `:` if it exists

[2018-06-14 14:03] dpastoor opened #12 "port should be optional"
Especially if typesense is behind a reverse proxy, the url does not necessarily have a url exposed.

An example setup:

[code]

proxies internally to the typesense docker container running at localhost:8108

[2018-06-17 15:18] kishorenc commented on #12
@dpastoor You can define the port to be `443`, which is the default HTTPS port. So, `https://github.com` and `https://github.com:443` are equivalent. Let me know if that works!

[2018-06-17 15:29] kishorenc commented on #10
In order to keep the clients uniform, we will probably not be able to do this. But, here's a easy way to get the host: instead of parsing`window.location` properties individually and stringing them together, you can simply use `window.location.origin` to get the fully qualified host name in a format like this:

`https://github.com`

[2018-06-18 16:52] dpastoor commented on #10
Yes, I understand these things are _possible_, its just not really idiomatic for javascript clients

For example the documentation for axios (and just about every other api example for any client library) shows client examples like so:

[code]

whereas we now need to

[code]

[2018-06-28 13:58] dpastoor commented on #12
To be clear, the problem is when the host is NON root.

Yes, `https://github.com` and `https://github.com:443`

but `https://github.com/typesense:443` is **not valid**.

The way the code is constructed:

[code]

makes it such non-root urls to typesense, such as `example.com/typesense` impossible to use as the endpoint right now.

but if typesense is served at example.com/typesense

[2018-06-28 16:29] kishorenc commented on #12
@dpastoor Thank you for the clarification. I can now see how this is a potential blocker. It definitely makes reverse-proxying of Typesense on the same host as an app difficult.

We will address this issue and release a new version of the library by next week.

[2018-06-28 17:51] dpastoor commented on #12
Fixed in #14 and should be easy to adapt to the other libraries.

[2018-07-20 13:46] #12 closed

[2018-11-30 11:34] sharat9211 opened #21 "How to retrieve all the documents from a collection?"
I am doing this
client
      .collections("queries")
      .documents()
      .search({
           q: "*",
           query_by: "query_title"
      });
But it is giving zero hits

[2018-11-30 12:04] sharat9211 commented on #21
Nevermind, I was using 0.8.0 version which didn't support this query.

[2018-11-30 12:04] #21 closed

[2019-06-02 11:53] #11 closed

[2019-06-12 14:47] ibrahimBelk opened #25 "How To support array of objects search field types ?"
I have a json file which contains an array of objects and I want to crearte a schema for that so how to do it ?

[2019-07-11 07:59] kishorenc commented on #25
@ibrahimBelk You have to use type as `string[]` when you [define the schema](https://github.com/typesense/typesense-js/blob/master/doc/examples/server/collections.js#L40).

[2019-11-04 04:38] #7 closed

[2019-11-04 04:38] #25 closed

[2020-02-11 22:10] technoplato opened #31 "Error: getaddrinfo ENOTFOUND master (Mac prebuilt binary)"
Just trying to follow the getting started tutorial. I'm sure I'm making a terribly stupid error somewhere, but I can't figure out where.

# My Code

[code]

# Error
[code]

# TypeSense server output

![Screen Shot 2020-02-11 at 5 08 50 PM](https://user-images.githubusercontent.com/6922904/74284167-2df3c080-4cf1-11ea-827a-c6ef663d5abb.png)

[code]

*Please let me know if you require any more inform

[2020-02-11 22:59] technoplato commented on #31
As I imagined, something stupid. I copied the Client initializer code verbatim.

Just needed to change the `host` to `localhost`

[code]

[2020-02-12 16:34] #31 closed

[2020-02-12 16:45] github-user001 opened #32 "TypeScript for Typesense?"
Hello, how do I get typescript support when importing this library? It isn't critical but would be nice.

[2020-05-31 13:04] fabien opened #35 "Error: Cannot find module"
When requiring the NodeJS module `typesense`, I get this error:

[code]

I am now using `dist/typesense` instead.

[2020-06-01 00:11] jasonbosco commented on #35
@fabien Thanks for reporting this. This is now fixed in v0.5.1.

[2020-06-01 00:11] #35 closed

[2020-06-13 02:11] stephanoparaskeva opened #36 "Make a smaller Bundle Size?"
TypeSense JS for use in a React, or React Native apps has a massive bundle size of 1mb which is minified to 463kb. This is way too high to be used in production and adds ~3 seconds to page loading times on lower bandwidth connections. Like mobile phones or laptops on Public WiFi.

 Competitors in the scene have JS packages that are less that 30kb minified and are Tree-Shakeable. This isn't and I w

[2020-06-17 20:39] jasonbosco commented on #36
Thank you for bringing this up. This is now fixed in v0.5.2.

Based on [this](https://bundlephobia.com/result?p=typesense@0.5.2), we're now coming in at 8.5KB gzipped + minified:

<img width="467" alt="Screen Shot 2020-06-17 at 1 38 25 PM" src="https://user-images.githubusercontent.com/458383/84947897-dcdd4a00-b09f-11ea-90f8-d37d999e00ce.png">

[2020-06-17 20:39] #36 closed

[2020-06-17 20:44] jasonbosco commented on #35
The root cause of the issue was that @babel/runtime was missing as a dependency in v0.5.0. So v0.5.1 added it as a dependency (instead of a peerDependency). However this bloats the bundle and also causes duplicate inclusion of @babel/runtime across other dependencies that might also need it.

So with v0.5.2 @babel/runtime is now marked as a peerDependency that you need to install in your app. Runn

[2020-06-18 16:57] stephanoparaskeva opened #38 "Network Error React Native"
// Results in Network Error    ---     (This exact request works fine on Node)
[code]

// Works fine
[code]
// Error

<img width="396" alt="Screenshot 2020-06-18 at 17 58 32" src="https://user-images.githubusercontent.com/40718272/85050049-67e83e00-b18d-11ea-8ba4-d7a510d6f820.png">

// Tried this with both Client and SearchClient

### React Native Version 0.62 IOS, TypeSense 0.6.0

[2020-06-18 17:06] stephanoparaskeva commented on #32
Bump would also love to see TS support

[2020-06-18 18:38] jasonbosco commented on #38
@stephanoparaskeva It's interesting that it works with axios directly. We do add additional request options to axios, so I'm wondering if one these causes an issue in a React Native environment: https://github.com/typesense/typesense-js/blob/a1def5f9faa30c64b0732dc0bb7ea5120e7e9144/src/Typesense/ApiCall.js#L54-L77

To help debug this, could you try two things:

1. Change localhost to an IP address

[2020-06-18 19:28] stephanoparaskeva commented on #38
It's the data: {} that you're sending, via axios for get this threw an error for me on React Native.
Perhaps you could test with create-react-native-app + typesense?

[2020-08-02 19:06] g5becks commented on #32
Really wouldn't be hard to write the definitions for it if the code had proper jsDocs.

[2020-09-17 21:21] goliatone opened #41 "Errors should return code"
Currently errors do not seem to include the API error code, [just a message](https://github.com/typesense/typesense-js/blob/master/src/Typesense/ApiCall.js#L88).

[2020-09-18 02:49] jasonbosco commented on #41
@goliatone Good catch. I've added custom error objects and a new field called `httpStatus` in [`v0.7.0-2`](https://www.npmjs.com/package/typesense/v/0.7.0-2).

Here's an example of how to use this: https://github.com/typesense/typesense-js/blob/9ac12dcb75f4d068087ad4cb89e92e1c9608818a/doc/examples/server/errorHandling.js#L24-L38

Side note: `v0.7.0-2` is a pre-release version that is only compatib

[2020-09-19 05:38] jasonbosco commented on #41
v0.7.0 is now published and addresses this.

[2020-09-19 05:38] #41 closed

[2020-09-29 08:32] fabien opened #42 "Feature request: make client http proxy friendly, omit port if undefined"
I'm using Typesense through a HTTP proxy at a specific path (example: https://example.com/typesense). In this case it's not desirable that a port is required when specifying such a node:

https://github.com/typesense/typesense-js/blob/ed1b22d8e5405544c3c2fd5c971cd853106bf98a/src/Typesense/ApiCall.js#L179

Could this be accounted for in an upcoming release?

[2020-09-30 22:17] #42 closed

[2020-09-30 22:19] jasonbosco commented on #42
@fabien Just published `v0.7.1` with this update. Port is now optional and will default to 80 or 443 based on the protocol specified.

[2020-09-30 22:52] jasonbosco commented on #32
I've personally not used Typsescript before, so I'd have to do some reading to get up to speed. Would love some help from more experienced Typescript experts!

[2020-10-13 04:46] jasonbosco commented on #32
Related: PR #43

[2020-10-25 17:27] jasonbosco commented on #38
@stephanoparaskeva I've now updated the library to not send `data` for GET requests:

https://github.com/typesense/typesense-js/blob/f7a5c1c99c659cc5a0e59bd0a2b289e753da0eea/src/Typesense/ApiCall.js#L94-L96

Could you give it a shot now in React Native to see if it fixes the issue?

[2020-11-19 17:00] fabien opened #46 "NPM Release does not contain updated 0.9.0 code"
## Description

The version installed by npm is outdated and doesn't include the latest code in `lib`. For example, the new `documents().delete()` method is undefined. NPM only includes the `lib` directory, no source or anything else.

## Steps to reproduce

`npm install typesense-js@0.9.0`

[2020-11-26 06:53] fabien commented on #46
@jasonbosco @kishorenc any update on this?

[2020-11-26 07:25] jasonbosco commented on #46
@fabien Sorry about that, I forgot to run `npm run build` before publishing 🤦. Just published v0.9.1 with the fix.

[2020-11-26 07:25] #46 closed

[2021-01-15 19:22] Nick-Mazuk commented on #32
Any updates on this? It looks the PR is done and ready to merge.

[2021-01-27 14:10] orlando commented on #32
Hey @jasonbosco,

Any update on the TypeScript typings. We are evaluating search solutions at this moment for a new product and this is a great feature to have

[2021-01-28 06:48] jasonbosco commented on #32
Hey everyone, I need to update PR #43 to include types for the latest features available in Typesense. We're also working on v0.19 currently, which will have additional features. Once that's out in the coming weeks, I'll be able to focus on updating the PR.

In the meantime, I could definitely use some help on this, since I need to pick up Typescript on the fly.

[2021-01-28 18:56] fluxrooms opened #50 "ObjectNotFound error"
getting this error when i try to create a document.
curl localhost:8108/health returns {'ok': true} but localhost:8108/ returns { "message": "Not Found"}

/Users/manav/projects/fluxroom-beta/node_modules/typesense/lib/Typesense/ApiCall.js:366
      var customErrror = new CustomErrorKlass(errorMessage);
                         ^

ObjectNotFound [Error]: Request failed with HTTP code 404 | Server s

[2021-01-28 21:15] jasonbosco commented on #50
@fluxrooms The root url `localhost:8108/` throwing a 404 is expected - there are no resources the server serves under `/`. Collections are available under `/collections`, etc.

Could you post the exact JS client snippet that throws the 404? The JS client shouldn't be making calls to the root url.

[2021-01-29 07:51] fluxrooms commented on #50
**this is my client api call**

const { Client } = require("typesense");

let typesenseClient = new Client({
  nodes: [
    {
      host: "localhost",
      port: "8108",
      protocol: "http",
    },
    // {
    //   host: "localhost",
    //   port: "7108",
    //   protocol: "http",
    // },
    // {
    //   host: "localhost",
    //   port: "9108",
    //   protocol: "http",
    // },
  ],

[2021-01-29 19:01] #50 closed

[2021-02-22 19:01] Nick-Mazuk opened #52 "[Feature request] Cache search operations"
With several other search clients (e.g., Algolia's), search results are cached on the client. This way, users don't need to perform unnecessary search requests (e.g., when deleting the last character in their query). This also reduces latency for repeated searches to 0.

I've personally implemented this on my end with the following pattern:

[code]

My full code is a bit more complex, mainly makin

[2021-02-22 21:37] jasonbosco commented on #52
Ah yes, query caching has been in the back of my mind to implement. I was thinking of adding it in the instantsearch adapter though, but now that you bring it up, I can see it being useful in the JS library as well.

[2021-02-22 21:38] jasonbosco commented on #38
I know at least one user who's using Typesense with React Native, so closing this for now. Please feel free to re-open if this is still an issue.

[2021-02-22 21:38] #38 closed

[2021-04-18 02:59] Ziao commented on #32
I would be completely happy to pick this up and maintain it or if you need a hand with anything :)

[2021-04-18 03:04] jasonbosco commented on #32
@Ziao Thank you! That would be awesome!

I just started reading up on Typescript last week, but I could definitely use help with this. Would you be able to review PR #43? It's also missing the multi_search endpoint we added in v0.19. If you could help review + add types for the new endpoints, we can then merge that in.

[2021-04-18 14:56] Ziao commented on #32
I had a look at that PR, while a good start, it's generated from the JS source files and thus contains a lot of `any` types, exposes  private members (starting with _), and would be a monster keeping it synchronised with the actual source code while also providing high quality typings.. As @goleary mentioned, using typescript instead of javascript would alleviate a lot of headaches, both now and i

[2021-04-20 18:33] jasonbosco commented on #32
@Ziao I missed Github's notification somehow.

Thank you for reviewing. It would be great to have a PR that converts the entire codebase to Typescript ❤️

I made some tiny changes in the `ts-server-0.20.0-support` branch and I'll be merging that to master soon. Could you branch off of that for this PR?

[2021-04-20 21:30] jasonbosco commented on #32
Oh also, here’s our Slack channel: https://join.slack.com/t/typesense-community/shared_invite/zt-mx4nbsbn-AuOL89O7iBtvkz136egSJg

[2021-04-21 12:41] fekstr opened #57 "How to use scoped search keys for search?"
## Description

I'm trying to use scoped search keys to limit the content that users can access. However, I don't get the key to work for search operations. What is the correct way of implementing this?

## Steps to reproduce

Create a scoped search key:

[code]

Create a new client using this key as the API key:

[code]

Use the client to search among items:

[code]

## Expected Behavior

Documen

[2021-04-21 18:50] michaelbromley commented on #32
Having the lib in TS would be amazing - so far the slowest part of working with Typesense is the time taken to keep checking the docs to find out what methods I need to call on the client (plus the time debugging the errors caused by me assuming an incorrect return type etc).

In the meantime, I knocked together some type defs myself to make my own work more productive. Might be helpful for others

[2021-04-21 19:40] jasonbosco commented on #32
Thank you for that @michaelbromley!

CC: @Ziao

[2021-04-21 19:48] jasonbosco commented on #57
Hi @fekstr, that is the correct way to use scoped API keys. I do see a typo in the field name that's embedded in the scoped api key: `workpace` instead of `workspace`:

[code]

Could you check if fixing that solves the issue?

[2021-04-22 08:21] fekstr commented on #57
Well, that was simple. Thanks a lot @jasonbosco! It would be nice, if possible, to get an error message saying that the field does not exist.

[2021-04-23 21:03] jasonbosco commented on #57
Yup, I've made a note to improve error messaging in this scenario. We do return the exact field name in the error message when unknown fields are used outside of scoped search key, so need to account for this use case as well.

[2021-04-23 21:03] #57 closed

[2021-05-07 23:35] jasonbosco commented on #52
Hi @Nick-Mazuk, I just published [`v0.13.0-0`](https://www.npmjs.com/package/typesense/v/0.13.0-0) with support for search results caching. It's opt-in though to avoid any surprises, especially in dev env.

There's a new configuration parameter called `cacheSearchResultsForSeconds` which defaults to 0 (disabled). Setting it to a non-zero value will enable caching. Here's an example of how to use i

[2021-05-09 17:56] Nick-Mazuk commented on #52
Thanks @jasonbosco! I'll test that out when I get a chance (hopefully soon).

[2021-05-24 12:58] WatanabeThiago commented on #32
up

[2021-05-25 15:51] copydepo opened #61 "Sorting when using federated / multi search"
## Description

When using federated search, the results are not sorted by relevance. So searching in multiple collections and if the item we were looking for is in the third collection, our result with the most relevance will only show up later in the results.

[2021-07-05 18:14] #52 closed

[2021-07-09 15:56] AlexBV117 opened #65 "Typesense CLI"
## Description
This is not a bug report!!!
I have recently set up a self-hosted typesense server and have been interacting with it using a Typesense js client. I was thinking of potentially taking this further and producing a typesense cli that would allow you to manage the server directly from the terminal. Is this something you would be interested in?

## Metadata

**Typesense Version: 0.13.0**:

[2021-07-09 17:56] jasonbosco commented on #65
Hi @ferrari-coder-86 - that's sounds interesting!

When you say "manage the server directly", what would be some example CLI commands you'd be able to run?

[2021-07-10 15:40] AlexBV117 commented on #65
My goal is to create a command line interface using node.js (allowing dependencies to be dealt with using npm). The CLI should allow for easy management of your Typesense server. It will build on top of the Typesense JS library and allow its back-end functionality to be used in the command line. For example, you should be able to manage schemas, collections, and keys as well as index data into mem

[2021-07-24 04:55] dharijanto commented on #32
I just wanna shout my thanks to @Ziao for your work :) I'm happily using typesense off his branch and it's working great. I really appreciate it!

[2021-07-24 05:03] jasonbosco commented on #65
@AlexBV117 Sorry about the delayed response, I thought about what I was going to say but missed typing it here!

This sounds useful!

I'd recommend offering `--long-form` option names (eg: `--schema`) in addition to single char option names (eg: `-s`), so it's self documenting.

Let me know how I can help.

[2021-07-29 13:54] AlexBV117 commented on #65
@jasonbosco i have a working version of the CLI for you to check out  https://github.com/AlexBV117/typesense-cli

[2021-07-30 21:23] happy-san opened #66 "Memory leak in the implementation of `RequestWithCache`."
## Description

In the [current implementation](https://github.com/typesense/typesense-js/blob/master/src/Typesense/RequestWithCache.js#L16), a cache entry is only deleted when it is requested and it has expired. If the cache entry is never requested, it would never be deleted. Combined with the fact `_responseCache` has no limit on how many entries it can store, we've got a leak.

[code]

## Step

[2021-08-06 13:38] dianos opened #67 "NPM package name"
Probably should be "typesense-js" not "typesense" to limit confusion.

[2021-08-06 21:13] jasonbosco commented on #67
I thought about it initially, but figured the `-js` suffix for an NPM package might be a little redundant, since NPM is for the JS ecosystem anyway.

[2021-09-29 11:09] phihochzwei commented on #32
Any news on this? We **urgently** need this to use Typesense in our Firestore-Projects.

[2021-09-29 11:27] Ziao commented on #32
@phihochzwei and everyone else,

I completed the TS conversion a while ago and updated the tests but never got around to getting the PR rebased and merged in. I'm very sorry to say that the work pressure is not allowing me to spend too much time on this at the moment, but essentially once any conflicts are solved and the work is reviewed, I'm cool having the PR merged in.

Here's the PR, btw: http

[2021-09-30 20:57] Scalahansolo opened #70 "Error for missing header is sent when passing a bad API key"
## Description

When using the API as described by the docs, I am getting the a missing heading error

## Steps to reproduce

[code]

Results in the following error
[code]

**Typsense Version**:  0.15.0

**OS**: mac

[2021-09-30 21:00] jasonbosco commented on #70
@Scalahansolo Could you also post the contents of `typeSenseSecret()` (minus the actual api keys)

[2021-09-30 21:02] Scalahansolo commented on #70
@jasonbosco per our email chain, I had my read key and admin key mixed up :(. Again, as mentioned in that thread, I think it would be good to update the message on a bad key to be more clear about the issue as opposed to just saying the header wasn't included.

[2021-09-30 21:48] jasonbosco commented on #70
Phew! Glad it wasn't a deeper issue :)

The reason the error message is vague is because from a security perspective, we don't want to provide information about a key not existing vs it existing & not having the right permissions, for a potential malicious actor to use as a source of information.

[2021-09-30 21:48] #70 closed

[2021-10-01 01:02] Scalahansolo commented on #70
@jasonbosco I definitely understand the vagueness from a security perspective. With that being said however, even a malicious user would be able to tell "I've definitely included that header". Something along the lines of "401 Unauthorized: Invalid API Key" would be much better.

[2021-10-06 16:57] jasonbosco commented on #32
@Ziao -

I really appreciate the amount of effort you've put into shaping this PR! 🙏

@dcantu476 and I have been working on getting your PR up to date and adding in some remaining types as part of #71.

[2021-10-07 20:39] hadminh opened #72 "Backend InstantSearch Support"
## Feature Request

Thank you for this awesome library. Please look at this issue as a feature request.

## Description

I was trying to follow Algolia's [Backend InstantSearch](https://www.algolia.com/doc/guides/building-search-ui/going-further/backend-search/in-depth/backend-instantsearch/react) guide but I faced some issue. I finally managed to make it work but I had to add extra fields like `n

[2021-10-07 20:48] jasonbosco commented on #72
@hadminh Have a look at this repository: https://github.com/typesense/typesense-instantsearch-adapter, specifically the `SearchResponseAdapter.js`. It essentially converts the Typesense API response into Algolia API format.

It was meant to be used with Instantsearch on the frontend, but you can also use it on the backend.

Does that work?

[2021-10-07 23:27] Ziao commented on #32
@jasonbosco Woohoo! Nice one! I'll try to give it a spin this weekend and go through the changes one last time. Looks good though!

[2021-10-08 03:07] hadminh commented on #72
Thanks, for the quick reply. It technically should work. But this library doesn't expose a publicly accessible method [typesense/typesense-instantsearch-adapter](https://github.com/typesense/typesense-instantsearch-adapter)

Please Note that this is a three step method:
1) We convert From `InstantSearch Query` To `Typesense Query` Format, either on the client or on the server.
2) We make an Api ca

[2021-10-08 03:45] hadminh commented on #72
Yes it is possible the following does the trick no need for the `SearchRequestAdapter`.
The following method `searchTypesenseAndAdapt` is exposed publicly.

[code]

[2021-10-08 03:46] #72 closed, assigned to nobody

[2021-10-08 13:26] natac13 opened #73 "Feedback on TS support"
## Description

Should these deprecated properties be required?

![Screen Shot 2021-10-08 at 09 25 47](https://user-images.githubusercontent.com/10660283/136565221-6c26f455-031a-4b3a-9a26-3910db985461.png)

Is `index` supposed to be required on `Node`?
![Screen Shot 2021-10-08 at 09 26 18](https://user-images.githubusercontent.com/10660283/136565301-d2ad794b-cc08-4f31-a657-7c0ad31072a0.png)
![Scre

[2021-10-08 15:23] jasonbosco commented on #66
@dcantu476 Yes it is. Mainly a concern if users search say several 100 times without a page refresh in a single session.

Could happen more often in a React Native environment for example.

Definitely want to address it. Do you want take a stab at it?

[2021-10-08 18:10] dcantu476 commented on #73
I put in another PR for my suggested change. I can go the Node and NodeInternal / InternalNode route if you like. Just let me know!

[2021-10-08 18:56] jasonbosco commented on #73
@dcantu476 I like that. How about `NodeConfiguration` in Configuration.ts and just `Node` in ApiCall.ts?

[2021-10-08 20:45] dcantu476 commented on #73
PR is updated

[2021-10-09 19:08] #73 closed, assigned to nobody

[2021-10-09 19:14] jasonbosco commented on #73
Just released these changes in `v1.0.0-2`.

[2021-10-09 19:14] jasonbosco commented on #32
Released a new version `v1.0.0-2` with the feedback in #73.

[2021-10-10 21:30] p-young commented on #32
I gave it a try and ran into this error:

node_modules/typesense/lib/Typesense/Configuration.d.ts:31:16 - error TS2503: Cannot find namespace 'logger'.

31     logLevel?: logger.LogLevel;

At the top of Configuration.ts, should it be:
import * as logger from 'loglevel'

instead of right now:
import logger from 'loglevel'

The default export of loglevel doesn't seem to be the right thing.

[2021-10-11 00:11] dcantu476 commented on #32
@p-young I believe you are correct, but I'll have to test it more to be sure. I also think the correct type is `logger.LogLevelDesc`.

In the future, it might be better to implement some abstraction around the logger so that the client doesn't have to worry about using types directly from the logger library. It'd also put it in a good place where if you need to swap the logger out for something el

[2021-10-13 06:01] AadamZ5 opened #77 "SearchClient doesn't return type-parameterized Collection"
https://github.com/typesense/typesense-js/blob/100d619d71f17b8b0b935e2ab2974c166dfa184f/src/Typesense/SearchClient.ts#L26-L39

You can see here that `collections(...)` in `SearchClient` does not return a type-parameterized version of `Collection`. This is not similar to the normal `Client` which does allow a type parameter in the `collections(...)` function there.

In `SearchClient`, I think the `

[2021-10-13 17:31] jasonbosco commented on #77
One (may be confusing) nuance is that `_individualCollections` stores an array of `Collection` objects, and a `Collection` object in the client library is different from the actual Collection Schema that the user defines in Typesense Server.

This is the reason the method signature to get the actual server Collection Schema is `client.collections('name').retrieve()`.

Whereas `client.collections('

[2021-10-14 19:49] AadamZ5 commented on #77
@dcantu476

That's a good point. Making a shared interface just to solve this may be a bit cumbersome. I guess it depends on how strictly typed this lib should be.

Another approach I considered is `extends`. If `SearchClient` is a subset of `Client`, (it might not be) would it be more appropriate for `Client` to extend `SearchClient`?

[code]

What do you think?

------

Also @jasonbosco

@jasonb

[2021-10-14 22:05] jasonbosco commented on #77
@AadamZ5 You bring up a very good point! `SearchClient` is only meant to have these two method signatures:

[code]

So now that I think about it, `searchClient.collections(name)` shouldn't be returning the same `Collection` object as `client.collections(name)`. It should instead return a new object called say `SearchOnlyCollection` which implements a `documents()` method which returns a new object

[2021-10-14 22:48] AadamZ5 commented on #77
@jasonbosco That sounds like a good solution. The only thing I am worried about, is if `SearchOnlyDocuments` will be a subset of `Documents`, how will we tell the type-system that?

<details>
<summary>Pardon me for this very long comment. Over-engineering ahead ⚠</summary>
<br>
This brings me back to an interface approach.

Lets look in the case of the `Documents<T>` class

We have these actions

[2021-10-15 19:12] dcantu476 commented on #77
Thanks again! I'll keep working on it this weekend as I have time.

There are definite trade-offs for either direction. I'm completely a fan of this for public apis, however for internals I think we should continue the path it's currently set at. Eventually, you'll end up with so many imports on the same line that they'll stack anyways.

[code]

Also, re-exporting these internal files makes it sli

[2021-10-20 23:37] #77 closed

[2021-10-21 16:19] Wiirlak opened #79 "Additional headers"
## Description

Our Typesense instance is located in distant server, and we are using Cloudflare Access, which require us to add custom headers through the request.

## Expected Behavior

We should be able to add custom headers in the client configuration like:
[code]

## Metadata

**Typsense Version**: 1.0.0-2 / 0.15.0

[2021-10-21 22:44] jasonbosco commented on #32
Thanks @dcantu476. I've released this in `v1.0.0-4`.

[2021-10-22 09:26] #79 closed, assigned to nobody

[2021-11-08 23:13] jasonbosco opened #81 "Too many properties to enumerate when calling documents().import()"
Reported on Slack.

[code]

This happens due to a JS limitation: https://stackoverflow.com/questions/9282869/are-there-limits-to-the-number-of-properties-in-a-javascript-object. This also happens for large arrays of objects for some reason.

Instead of calling JSON.stringify on the entire array of objects [here](https://github.com/typesense/typesense-js/blob/a21d4101bc21fe59e0e85b41e64ba14d6fe8866

[2021-11-09 02:56] ueda19850603 opened #82 "'expires_at' is missing in the parameter of'generateScopedSearchKey'"
## Description
According to the official website, you can specify'expires_at' when creating a restricted key.
https://typesense.org/docs/0.21.0/api/api-keys.html#generate-scoped-search-key

However, VScode prints a warning because there is no'expires_at' in the TypeScript type definition.

## Steps to reproduce
<img width="908" alt="スクリーンショット 2021-11-09 11 53 44" src="https://user-images.githubuse

[2021-11-09 02:58] jasonbosco commented on #82
Oh yes, thank you for catching that. Will push out a fix shortly.

[2021-11-09 03:04] jasonbosco commented on #82
@ueda19850603 Just pushed out v1.0.1 with a fix for this.

[2021-11-09 03:32] ueda19850603 commented on #82
Thank you for your prompt response.
Are q and query_by required to create a restricted key?
Previously you could create a restricted key without passing q and query_by.

<img width="873" alt="issue" src="https://user-images.githubusercontent.com/13658114/140856973-af6c27d2-84be-4fb2-a8bc-f8cb7d54fab3.png">

[2021-11-09 03:42] jasonbosco commented on #82
No q and query_by are not required, they're optional in scoped search keys. This is another bug with the type definitions. I'll push out a fix for this shortly.

[2021-11-09 03:50] jasonbosco commented on #82
@ueda19850603 Could you try again in this version: `1.0.2-0`?

[2021-11-09 03:54] ueda19850603 commented on #82
I confirmed the operation with 1.0.2-0.
It worked fine.
Thank you very much.

[2021-11-09 03:55] #82 closed

[2021-11-09 06:28] ueda19850603 opened #84 "The argument type of client.keys () is a string."
## Description
Official sample code
https://typesense.org/docs/0.21.0/api/api-keys.html#delete-api-key

According to this, the argument of client.keys () is a number.
But TypeScript type definitions require strings

## Steps to reproduce

<img width="895" alt="typed" src="https://user-images.githubusercontent.com/13658114/140873204-1e5b7cb6-6af1-4364-a33f-e2ff8bb8b215.png">

## Expected Behavior
A

[2021-11-09 07:51] #84 closed

[2021-11-09 07:52] jasonbosco commented on #84
@ueda19850603 Good catch! I've pushed out `v1.0.3-0` with a fix for this.

[2021-11-09 12:21] ueda19850603 commented on #84
@jasonbosco
I am impressed with the very quick correction.
I am always grateful for your help.
Confirmed that it was fixed in 1.0.3-0

[2021-11-13 14:53] akash-joshi commented on #81
Hey @jasonbosco! Is this issue still up for grabs? Going by the various StackOverflow links on the topic:
- https://stackoverflow.com/questions/9282869/are-there-limits-to-the-number-of-properties-in-a-javascript-object
- https://stackoverflow.com/questions/34430182/too-many-properties-in-a-js-object
- https://stackoverflow.com/questions/9282869/are-there-limits-to-the-number-of-properties-in-a-ja

[2021-11-14 19:33] jasonbosco commented on #81
@akash-joshi Yes, this is up for grabs and that is a very interesting solution! Do you want to do a PR?

[2021-11-16 08:59] akash-joshi commented on #81
Oh wait, while writing the code for this, I realized we're running `JSON.stringify` on the `document`, not `documents`. Hence, I believe instead we should send a message to the developer that the dataset they're trying to import is too large, or, try to reduce the number of keys they're adding.

I believe this is some sort of a mistake on the dev's side. Perhaps they're trying to import the datase

[2021-11-18 16:20] Wiirlak commented on #32
Hi, we are currently using the Typescript version of Typesense, and i found few errors:
 - The field ``geo_distance_meters`` is missing in the SearchResponseHit interface ([example in the documentation](https://typesense.org/docs/0.21.0/api/documents.html#sample-response-3))
 - The ImportResponseFail interface contains:
   - `document: DocumentSchema;`
   - but it should be `document: DocumentSche

[2021-11-19 18:14] jasonbosco opened #86 "Could not load source file "../src/Typesense.ts" in source map of "node_modules/typesense/lib/Typesense.js""
## Description

Running `parcel build` shows these warnings:

[code]

## Steps to reproduce

1. Clone https://github.com/typesense/showcase-airbnb-geosearch
2. `yarn install`
3. `parcel build`

## Expected Behavior

No warnings are logged

## Actual Behavior

The warnings above are logged

## Metadata

**Typsense.js Version**: 1.0.3-2

[2021-11-19 18:17] jasonbosco commented on #86
@dcantu476 @AadamZ5

Any thoughts on this? The `.ts` src files are currently not published to npm, which I'm guessing is why these warnings show up. Is it standard practice to publish the `src` directory to npm for Typescript packages?

[2021-11-19 18:20] jasonbosco commented on #81
@akash-joshi That's a good catch! 65K keys on a single object does sound like a lot. I like the idea of catching this error and showing a friendly error message, and may be pointing people to a stackoverflow issue explaining the underlying issue?

[2021-11-19 18:52] dcantu476 commented on #86
I'll take a peek at it when I can, but an extra set of eyes is welcome as I'm unfamiliar with parcel. It appears it's trying to package source maps as part of the build pipeline.

Professionally speaking, you should only publish artifacts such as the dist or lib folder with the *.d.ts files (type definitions) and compiled *.js files, **not src files.** On a practical level, though, you'll find ple

[2021-11-19 20:27] AadamZ5 commented on #86
I think @dcantu476 is definitely right. Looks like this library is publishing `*.js.map` files, which tell compilers where to find source code. In a development build, this is useful. However, for production and distribution, these `*.js.map` files shouldn't be included since no source code is distributed with it. End users should be debugging this library inside of their own projects.

You can se

[2021-11-23 07:00] jasonbosco commented on #86
Thank you for the detailed explanation Damian and Aadam!

IIRC, I might have explicitly turned on source maps several years ago because I found it helpful to debug and get to the bottom of bugs quickly, when I used the library myself in other projects. The source maps are generated as separate files though, so they don't end up getting including in users' production builds (or at least that was my

[2021-11-27 06:08] jasonbosco opened #87 "Export documents as stream"
## Description

`documents().export()` currently fetches the entire API response, stores it in a string and returns the string. When exporting large collections with gigabytes of data, a better memory-efficient approach would be to expose a stream object so that users can then operate on the stream and pipe it directly to a file for eg.

To maintain backward compatibility, we can introduce a new m

[2021-11-30 03:21] akash-joshi commented on #81
@jasonbosco created this PR: https://github.com/typesense/typesense-js/pull/88.

Let me know if you want the error message reworded, etc.

[2021-11-30 03:34] akash-joshi commented on #32
I'll try to debug this one: https://github.com/typesense/typesense-js/issues/32#issuecomment-973020672

[2021-12-07 02:55] #87 closed

[2021-12-07 03:07] jasonbosco commented on #81
Added a comment here: https://github.com/typesense/typesense-js/pull/88#issuecomment-987524666

[2021-12-07 03:08] jasonbosco commented on #86
Found this interesting discussion: https://github.com/googleapis/google-cloud-node/issues/2867

I'm now wondering if we should just publish the `.ts` files in the `src` folder as well.

[2021-12-13 10:18] tugaykaracay opened #91 "`SearchResponseHit.highlights` and `SearchResponseFacetCountSchema.counts` has invalid type definitions."
## Description

`SearchResponseHit.highlights` and `SearchResponseFacetCountSchema.counts` has invalid type definitions. They should be in array format.

## Metadata

**Typsense Version**: 1.0.3-4

[2021-12-22 17:28] tremendus opened #93 "Bug: typesense can't commit a record with empty array value"
## Description

Seems that typesense won't accept a document with an empty array as a value

## Steps to reproduce

Create schema:
[code]

Try to index this document:
[code]

## Expected Behavior

The document should be commited

## Actual Behavior

JS client returns an error from database

[code]

## Metadata

**Typsense Version**: package.json: `"typesense": "^1.0.2"`

**OS**: Node14 (Firebase f

[2021-12-22 18:23] tremendus commented on #93
Just expanding on this - is it possible that it might be related to to a 'cache' (perhaps) of the schema? Previously the field was `_grade: <string>` ... but then I switched it to an array. Could be that it was throwing errors because of that, even though I removed the collection and re-created it (both times with field type auto - faster for development ... )

... ???

[2021-12-23 23:02] joshmossas opened #94 "TypeError: client.collections(...).documents(...).retrieve is not a function"
## Description

Calling `client.collections('some-collection').documents('some-doc-id').retrieve()` throws the following error:

[code]

## Steps to reproduce

Just call the method like specified in the Typesense docs. My code looks like the following:

[code]

## Expected Behavior

This method should exist and should get the document associated with the documentId that was passed as outlined in t

[2021-12-23 23:12] jasonbosco commented on #94
@joshmossas Could you double check if the actual `client` being passed into `getDoc` is `Typesense.Client` and not `Typesense.SearchClient`? The latter only supports `document.search()`.

[2021-12-23 23:17] joshmossas commented on #94
Yes sir, `Typesense.Client` is being passed into `getDoc`.

[2021-12-23 23:45] joshmossas commented on #94
@jasonbosco I figured out the problem.

I was importing typesense like this:
[code]

But Typesense has no `export default` so I needed to import it like so.

[code]

[2021-12-23 23:45] #94 closed

[2021-12-23 23:50] jasonbosco commented on #94
Ah interesting! This was unintentional change when we converted to Typescript. Will add a default export to prevent any confusion.

[2021-12-23 23:58] jasonbosco commented on #94
Pushed out `v1.1.2` where you should now be able to do

- `import Typesense from 'typesense'` or
- `import { Client, SearchClient } from 'typesense'` or
- `import * as Typesense from 'typesense'`

[2021-12-24 00:09] jasonbosco commented on #86
I've added the src folder for now.

[2021-12-24 00:09] #86 closed

[2021-12-28 03:16] Sembiance opened #95 "typesense module for Deno"
It would be awesome if there was a [Deno](https://deno.land/) compatible typesense module.

You can *almost* directly `import * as Typsense from src/Typesense.ts` but there are some issue:

* Deno requires all local imports to have explict .ts extensions
So instead of `import ApiCall from './ApiCall'` use `import ApiCall from './ApiCall.ts'`
Also Errors, instead of `import { ObjectNotFound } from

[2022-01-03 15:49] akash-joshi commented on #81
#96 should solve the problem in #88 by [rethrowing any other errors](https://github.com/typesense/typesense-js/pull/96/files#diff-1e0565f0f17e3dfb64595df01f7506e4c30037e834ac03d758198f25e05c397eR211) as well.

[2022-01-06 00:39] jasonbosco commented on #81
Thanks @akash-joshi! I've merged it in.

[2022-01-06 00:39] #81 closed

[2022-01-11 04:12] jadamroth opened #98 "Search result edge case"
## Description

This isn't a bug, but a specific edge case that I'm wondering if I missed something in my configuration or if there's something I can do to improve my results.

I have a collection with data linked from Firestore hosted on typesense cloud and am running a nodejs script on my local computer via the javascript library to search for results. Everything works very well except when I se

[2022-01-11 17:43] jadamroth commented on #98
Sorry I meant to put this issue in the typesense repo. I don't think it relates to this library, so I will close and repost in the typesense repo

[2022-01-11 17:43] #98 closed

[2022-01-12 10:58] HananoshikaYomaru opened #99 "Proxy in production"
I am have a simple express, react, typesense set up in a docker-compose environment. I have been using `localhost:8108` to access typesense and it works fine. But when I change to production mode, react cannot get data from typesense because `localhost:8108` is no longer valid on the client side. I want to know how can I proxy the request to the client.

[2022-01-12 11:55] #99 closed

[2022-01-12 20:02] danielcamargo opened #100 "String `undefined` being attach to collection name."
## Description

I am working on a Sveltekit product. On production only, the API call attaches a string `undefined` as part of the query.

![image](https://user-images.githubusercontent.com/4071288/149212996-e64aa389-daba-4775-b0da-f04a3b9ef65d.png)

this is the code:
[code]

Version: `"typesense": "^1.1.3-0"`

[2022-01-13 01:36] jasonbosco commented on #100
Hmmm. @francoislg I wonder if this is somehow related to #97. But you said `1.1.3-0` worked in production for you right?

[2022-01-13 12:54] francoislg commented on #100
It *is* the same issue that we got, and we are running `1.1.3-0` in production 🤔

Our code is 95% the same as the code here, so I'm think it might be the `client` type?

We are using `SearchClient`, which uses [SearchOnlyDocuments](https://github.com/typesense/typesense-js/blob/master/src/Typesense/SearchOnlyDocuments.ts) instead of [Document](https://github.com/typesense/typesense-js/blob/master/

[2022-01-13 19:01] danielcamargo commented on #100
@francoislg it worked with `SearchClient`. Thanks for your help!

[2022-01-13 19:03] francoislg commented on #100
This means I probably broke the original `Client` 🤕

[2022-01-13 20:33] jasonbosco commented on #100
I wonder if the same fix you did for `SearchClient` needs to also be done for `Client`, to get it to work with SvelteKit?

[2022-01-15 09:28] rohit-gh commented on #25
Are we talking about json objects? Can't we search on array of strings?

[2022-01-15 11:30] kishorenc commented on #25
Array of strings are fine! Just define the type as `string[]`.

[2022-01-16 19:17] janaka opened #101 "`SearchClient` ignores `sendApiKeyAsQueryParam=true` and send the api key in the query string"
## Description

When the `SearchClient` is instantiated with a `ConfigurationsOptions` object container `sendApiKeyAsQueryParam=true` the query string param`x-typesense-api-key` still appears in the outgoing request.

## Steps to reproduce

I have the following two snippets in a React app.

[code]

[code]

Pull up Chrome dev tools, network tab. You'll be able to see the param in the request URL.

[2022-01-26 03:28] skipjack commented on #81
Awesome guys, was running into this quite frequently with some non-indexed properties. The new version of this package not only fixed it but also seemed to potentially speed up loading a bit (at least in our case with ~20k documents).

[2022-01-26 03:42] jasonbosco commented on #95
Thank you for the initial exploration @Sembiance!

CC: @HarisaranG since you also mentioned you were interested in exploring a Deno version of the library. I'll intro you both in our Slack community to potentially collaborate.

[2022-01-28 00:04] bradenmacdonald commented on #95
@Sembiance I needed a TypeSense Deno client, so I implemented one this week: https://github.com/bradenmacdonald/typesense-deno

Thanks a lot for the research you put in this thread, it saved me some time! If you're curious about the exact changes it took, you can see them in [this commit](https://github.com/bradenmacdonald/typesense-deno/commit/ee570c2a5a773fd895ce1f5c1cd17a165471910b)

My use cas

[2022-01-31 18:17] moarwick opened #103 "Typescript build errors"
## Description

We have a Typescript project, built using Webpack + `ts-loader`. In the client SPA, I've imported Typesense the traditional way `import * as Typesense from 'typesense'` which seems to work well (typings come through). The code builds and runs fine, but at build time I'm getting the following errors, so our CI/CD pipeline stops :(

[code]

## Expected Behavior

Should transpile with

[2022-01-31 20:06] jasonbosco commented on #103
@dcantu476 Any thoughts on this?

[2022-02-02 02:18] dcantu476 commented on #103
@jasonbosco @moarwick

The first place I would check is to see what is different between the CI pipeline and your regular build steps. Maybe the CI pipeline is using a different version of typescript? Other than that, the formatting of the files is correct from what I can see.

[2022-02-04 07:46] themerk opened #104 "Import errors have no message"
`ImportError` throws with no message. It looks like this line should be `super(message)`

https://github.com/typesense/typesense-js/blob/3d7c270aea427fd6b2e96abe6ba0712d58fa8273/src/Typesense/Errors/ImportError.ts#L6-L9

I was thoroughly confused about what was going wrong in my import because I couldn't see this (very helpful) error message:
https://github.com/typesense/typesense-js/blob/7cc70b4d

[2022-02-04 14:31] orasik opened #105 "group_by is keyof T while in documentation is it a string"
## Description

I was trying to group a search by a field that is defined as a facet when I had an error in the editor:

[code]
I am using typescript.

## Steps to reproduce

1. Create a search client.
2. Create a `searchParam` object:
[code]

## Expected Behavior

It should not raise any errors when using Typescript.

## Actual Behavior

Error:

[code]
## Documentation

[Search Parameters - Group

[2022-02-04 21:30] jasonbosco commented on #105
@orasik Thank you for catching this. I've pushed out a fix in `v1.1.3`.

[2022-02-04 21:30] #105 closed

[2022-02-04 21:35] jasonbosco commented on #104
@themerk Thank you for catching this 🙏

I've fixed it [here](https://github.com/typesense/typesense-js/commit/a88e4fc33bff29a8735d4b074bebbdcfcabfb884#diff-37a47e0f5ac5429409cd1e6e96d1493a2e454c8913cdcef772954a0b2aec06abR7) and pushed this out in v1.1.4-0. Could you give it a shot now and confirm if the error message shows up now?

[2022-02-07 02:46] themerk commented on #104
@jasonbosco that's awesome, I appreciate the quick fix! Yep, I can confirm that error message now comes through.

[2022-02-07 02:46] #104 closed

[2022-02-07 13:17] orasik opened #109 "prefix for multiple fields in search parameters is not possible"
## Description

According to the [search parameters](https://typesense.org/docs/0.22.2/api/documents.html#search-parameters) docs, we can define the behavior of prefix for multiple fields such as `prefix=true,false,true`.

However, this is not doable as `prefix` is defined as a boolean variable in the [SearchParams](https://github.com/typesense/typesense-js/blob/master/src/Typesense/Documents.ts#L

[2022-02-07 20:47] jasonbosco commented on #109
@orasik I've fixed this in `1.1.4-2` so you can now use a boolean or string for `prefix`. Could you give it a shot now?

[2022-02-09 17:40] orasik commented on #109
@jasonbosco looking good now. Thanks!

[2022-02-09 17:40] #109 closed

[2022-02-12 17:30] francoislg commented on #100
I got super sidetracked but came back on this, is this still an issue ? 😓

[2022-02-19 08:35] janaka commented on #101
Thanks - will try getting to this today or tomorrow.

[2022-02-25 03:50] skipjack opened #112 "Request Cancellation"
## Description

I'd like to be able to abort requests using the `AbortController` API...

https://developer.mozilla.org/en-US/docs/Web/API/AbortController

## Steps to reproduce

This is a feature request not a bug.

## Expected Behavior

There'd be some way to pass an `AbortController` to each underlying `axios` call in order to cancel an ongoing request before another is made. This not only save

[2022-02-25 03:51] skipjack commented on #112
Disregard, seems possible already using the second `SearchOptions` argument...

https://github.com/typesense/typesense-js/blob/master/src/Typesense/Documents.ts#L129-L131

[2022-02-25 04:08] skipjack commented on #112
Works with the latest version (v1.2.1) but detecting the `AbortError` through `axios` is a little clunky. May be worth switch to the native `fetch` API at some point where you can just check `error.name === 'AbortError'` rather than `error.message.includes('aborted')`, which feels a bit more fragile.

[2022-02-25 04:12] skipjack commented on #112
I'm also seeing a number of uninformative warnings with `undefined` that may be related to the cancellation...

<img width="833" alt="image" src="https://user-images.githubusercontent.com/8988697/155652228-011ae9e0-bcbb-419d-89a0-85c27adbcd35.png">

That may indicate it's not fully supported by the SDK yet? Maybe I should submit a small PR to ignore abort errors on the SDK's side?

[2022-02-26 20:05] edgarsilva commented on #112
This fails when passing the `abortSignal` react-query `useQuery` hook provides, the promise throws.

[code]

[2022-03-02 13:43] michaelbromley opened #113 "TS typing issue for OverrideCreateSchema"
## Description

The TS typings for the `OverrideCreateSchema` interface appear to be incorrect:

https://github.com/typesense/typesense-js/blob/15ae8b6d34ca8d2dba83ee087cadb5ef96c8b32c/src/Typesense/Overrides.ts#L7-L21

Specifically, the `includes` and `excludes` properties are typed as single-element tuples, rather than arrays.

## Expected Behavior

I would expect the type to be:
[code]

## Actu

[2022-03-02 19:10] jasonbosco commented on #113
Oof! Good catch, thank you for the PR @michaelbromley

[2022-03-02 19:11] #113 closed

[2022-03-23 09:01] FLevent29 opened #115 "Types for import API options missing batch_size"
## Description

Type for import API options missing `batch_size`. As described [here](https://typesense.org/docs/0.22.2/api/documents.html#configure-batch-size) it is clearly an option and it does work (at the very least doesn't err) for me.

## Steps to reproduce

[code]

## Expected Behavior

I expect the code above to not err at transpilation time.

## Actual Behavior

I get `TS2769: No overloa

[2022-03-24 11:06] FLevent29 commented on #115
It seems like messing with `batch_size` maybe is not such a good idea. I didn't increase it very much, and now I am getting a bunch of these
[code]
and
[code]
Some of my payloads once converted to JSONL are much larger than 4000 characters and they pass on fine, so the error must be coming from either this packages side or a bug in Typesense.

However if I leave `batch_size` alone, none of this ha

[2022-03-26 08:28] janaka commented on #101
Hey @jasonbosco, sorry, I've not managed to teat this properly yet. I haven't had much time on this project since and been focused on refactoring a few bits to for the "production" setup.

[2022-04-19 00:49] focafull opened #118 "Timeout with Node Version <= 16"
## Description

I set up my own self hosted typesense instance on a vps. Now when I use typesense-js with node version 16 or less I will always get a timeout. If I use Node 17 everything works fine. I guess it has to do something with my server setup or dns setup, since everything works fine when I start a local docker container. When I check the health endpoint I can curl it just fine.
Does anyon

[2022-05-20 09:41] DanSnow opened #119 "GenerateScopedSearchKeyParams missing `collection`"
## Description
I think the `collection` definition is probably missing here

https://github.com/typesense/typesense-js/blob/master/src/Typesense/Keys.ts#L12

## Steps to reproduce

## Expected Behavior

Can use `collection` to generate a scoped search key

## Actual Behavior

Type error

## Metadata

**Typsense Version**:

**OS**:

[2022-05-20 21:51] jasonbosco commented on #119
@DanSnow `collection` is actually not a parameter that's applicable to scoped API Keys. Instead, you want to set permissions for specific collections at the level of the parent API key.

[2022-05-22 15:56] DanSnow commented on #119
Thanks for the explanation. My colleague told me that `collection` exists and it works here. So I thought it is just a mistake in the type defination.

Our use case is: We have a static site generator to generate multiple sites. And we used TypeSense as the search provider which stores all the articles across all the sites. We want to limit the search only to a specific site.

So I'm supposed to l

[2022-05-31 13:09] olve opened #120 "allowed types for SearchParams['query_by'] don't match documentation"
## Description
according to [docs](https://typesense.org/docs/0.22.2/api/documents.html#search), SearchParams['query_by'] accepts string arrays, however the type-definitions provided are limited to `string` only.

[2022-05-31 17:10] jasonbosco commented on #120
@olve The docs say "One or more `string` / `string[]` fields that should be queried against. Separate multiple fields with a comma: `company_name, country`".

So the actual value for `query_by` needs to be a comma separated string (not an array). It's just that the data type for the field names used in the query_by param can be strings or arrays of strings.

[2022-05-31 17:10] #120 closed

[2022-06-05 01:11] Enragedsaturday commented on #118
I had all kinds of nonsense trying to set up a self hosted instance on a vps. Changing the port in the config file to port 80 and  the same in the client fixed the issues for me.

[2022-06-07 14:38] suyesha123 opened #122 "Update schema not working"
## Description

typesense.collections['test'].update(update_schema)
                                                 ^
TypeError: Cannot read properties of undefined (reading 'update')

## Steps to reproduce

https://github.com/typesense/typesense-website/blob/v0.23.0/docs-site/content/0.23.0/api/collections.md#update-or-alter-a-collection
I would like to add domain and  drop "server"
let update_s

[2022-06-07 15:52] jasonbosco commented on #122
@suyesha123 It looks like you're using the Ruby/Python code snippet. You want to use the JS code snippet here:

https://typesense.org/docs/0.23.0/api/collections.html#update-or-alter-a-collection

[2022-06-28 17:05] jasonbosco commented on #122
Could you make sure you're using v1.3.0 of the JS client?

[2022-06-29 10:08] ArcoMul opened #123 "retrieve function doesn't exist on 'documents'"
## Description

According to the docs I can do:

[code]

See: https://typesense.org/docs/0.22.2/api/documents.html#retrieve-a-document

But the `.retrieve()` function doesn't exist on what is returned from `documents()`

## Steps to reproduce

-

## Expected Behavior

Being able to retrieve a single document

## Actual Behavior

[code]

## Metadata

**Typsense Version**: 0.22.2
**Typsense JS Versi

[2022-06-29 14:43] #123 closed

[2022-06-30 11:28] suyesha123 commented on #122
I am using v1.3.0  JS client

{
  "type": "module",
  "dependencies": {
    "@babel/runtime": "^7.18.6",
    "g11n-pipeline": "^4.0.1",
    "mongodb": "^4.7.0",
    "typesense": "^1.3.0"
  }
}

[2022-06-30 19:46] jasonbosco commented on #122
Could you share the client initialization code snippet you're using? I suspect you might be using `SearchClient` instead of `Client`.

[2022-07-04 05:25] suyesha123 commented on #122
import { Client } from 'typesense'
import * as Typesense from 'typesense'
  import { Client } from 'typesense'
const typesense = new Client({
      nodes: [
        {
          host: '*****',
          port: '******',
          protocol: 'http',
        },
      ],
      apiKey: '*******************',
      connectionTimeoutSeconds: 8,
    })

 typesense.collections().update(update_schema)

[2022-07-05 17:51] jasonbosco commented on #122
Hmm, this sounds strange.

Could you put together a standalone JS project that replicates this issue?

[2022-07-12 06:31] FLevent29 commented on #112
Doesn't seem possible for `export` and `exportStream` where in my opinion it makes the most sense. Looking at `ApiCall` `get` it's totally possible, only place it's missing is in the `export`, `exportStream` parameters.

[2022-07-12 14:29] michaelbromley opened #125 "Lack of typings for logger"
## Description

In the `ConfigurationOptions` interface, there is a `logger` property currently typed as `any // todo`. It would be good to get this properly typed so it is possible to implement custom logging without needing to reverse-engineer the library.

## Metadata

**Typsense Version**: v1.3.0 (typesense-js)

**OS**: any

I'd like to have a go at adding typings for this.

[2022-07-12 14:46] michaelbromley commented on #125
Ok, on further inspection I see that the logging is fully handled by the [loglevel](https://www.npmjs.com/package/loglevel) package, which is a direct dependency and also includes TS definitions. So I think it makes the most sense to directly expose the typings from that package in the config object, so as to not have to duplicate the typings inside the typesense-js code itself.

[code]

Does that

[2022-07-12 15:44] jasonbosco commented on #125
@michaelbromley That sounds good to me. Thank you for helping with this.

[2022-07-12 15:53] michaelbromley commented on #125
Great, I'll put in a PR.

One question - should I include the updated built files in /lib & /dist with the PR? I'm guessing so but just want to make sure.

[2022-07-12 15:57] jasonbosco commented on #125
Could you skip the files in /lib and /dist in the PR, so the diff is easy to parse? I rebuild those before publishing to npm anyway.

[2022-07-15 21:29] joeypunzel commented on #101
Thanks @janaka for submitting this issue - we just came across the same.

@jasonbosco We tested the solution on branch `fix-sendApiKeyAsQueryParam` and can confirm this works as expected! We apply the sendApiKeyAsQueryParam=true on the TypesenseSearchClient object and requests go out with the API key omitted (see screenshot below).

Any chance you guys can release this feature into the master bran

[2022-07-18 18:13] #101 closed

[2022-07-18 18:16] jasonbosco commented on #101
Thank you for confirming @joeypunzel!

I've published this in `1.4.0-3`.

[2022-08-02 03:31] nandorojo commented on #91
Here is a fix #129

[2022-08-02 03:37] #91 closed

[2022-08-02 03:40] jasonbosco commented on #91
Thank you @nandorojo! I've published this in `v1.4.0-4`.

[2022-08-02 03:44] nandorojo commented on #91
Sure thing!

It would be nice to have docs for `facet_counts` by the way.

[2022-08-04 19:19] jasonbosco commented on #91
Faceting is covered briefly here: https://typesense.org/docs/0.23.1/api/search.html#facet-results

Were you looking for something else?

[2022-08-04 19:20] jasonbosco opened #130 "Add x-typesense-api-key to multi_search search params"
Related to: https://github.com/typesense/typesense/issues/677#issuecomment-1200104946

[2022-08-09 19:35] stildalf opened #131 "404 attempting to delete document with ID containing "#" hash symbol"
## Description

Trying to delete a single document with a string ID containing a *#* symbol returns a 404. Deleting a document with string ID sans the # works just fine. Seems to be trimming the ID from first # occurrence onward - so `ABC#DEF123` gets trimmed to `ABC` and no such document is found to be deleted.

Not sure whether the problem lies upstream or not, thought I'd post here first.

No i

[2022-08-09 19:38] jasonbosco commented on #131
@stildalf Could you try this:

[code]

[2022-08-09 19:48] stildalf commented on #131
Thanks @jasonbosco , just tried and worked.

Apologies, should've tried something like that before posting.

Any documentation or pointers we can refer to regarding having to encode document IDs?

[2022-08-09 19:54] jasonbosco commented on #131
No worries! Your post will now help future searchers, so thank you for posting it :)

The ID format is documented in the yellow "Note" section here: https://typesense.org/docs/0.23.1/api/documents.html#index-documents

While that's a general recommendation, if you do use a character that requires URL encoding, then you would have to URL encode it before making any API calls that have the ID in the

[2022-08-09 20:09] stildalf commented on #131
Perfect, couldn't be clearer.

I would've sworn I read (obviously glossed) over that doc page 5 times today.

Thanks again, appreciate the nudge forwards.

[2022-08-09 20:10] #131 closed

[2022-08-12 07:49] #115 closed

[2022-08-24 18:13] nandorojo opened #133 "Regex syntax error?"
## Description

Hey, so I'm not 100% sure if this issue is caused by Typesense yet, but since I added a Typesense `facet_query` search to a screen, I started getting it on Sentry. Does something like this look familiar?

[code]

Sorry this issue is half-baked, I'm trying to get to the bottom of this and wanted to see if it looked like something that could be related to Typesense. I'm grasping at s

[2022-08-24 18:33] jasonbosco commented on #133
@nandorojo The line you linked to isn't actually part of the Typesense source code - it's coming from a dependency.

typesense-js itself doesn't use any RegEx.

[2022-08-24 18:34] #133 closed

[2022-08-24 18:34] nandorojo commented on #133
Got it, must not be related then. Thanks for letting me know.

[2022-08-25 15:27] nandorojo commented on #133
Do you by chance know what that dependency is doing in that line? When users are searching `remixes` or `salsa`, I'm seeing this crash (but only sometimes):

<img width="920" alt="image" src="https://user-images.githubusercontent.com/13172299/186706136-5b759824-ee6d-4b8b-893a-3db3e85490e6.png">

Is it possible that dependency is getting used to construct URLs or something?

It feels unlikely that

[2022-08-25 15:31] nandorojo commented on #133
Ah, sorry, disregard this. I think it's related to a dependency I have which I just found and removed. Thanks again.

[2022-09-02 09:07] PMLS3 commented on #25
@kishorenc I received this error:  Field `attributes` must be an array of string.
My array:
  attributes: [

  {
      "facet": true,
      "index": true,
      "infix": false,
      "locale": "",
      "name": "attributes",
      "optional": true,
      "sort": false,
      "type": "string[]"
    },

What am I doing wrong?

[2022-09-08 21:08] lantien commented on #118
@Enragedsaturday you are right, the only solution i could find was to set the config on port 80, but in order to worker you need to NOT specify the port.

[2022-09-16 16:10] tzervou opened #134 "Prefix has no effect on the results"
I'm looking for a way to configure my queries in order to show results that are a phrase prefix match or otherwise startswith.  I tried setting the prefix parameter to true, but the quality of the results remains the same.  The version I'm using:   "typesense": "^1.4.0".
Is there another way to configure the query to get such results?
 let searchParameters = {
    q: input,
    query_by: 'name',

[2022-09-19 19:13] jasonbosco commented on #134
Prefix search is set to true by default, so you don't have to explicitly enable it.

Could you share an example of a search query and a document you expect that to return from your dataset?

[2022-09-30 17:36] p-young opened #135 "Typescript errors using new typescript version 4.8.4"
## Description

Getting typescript errors coming from the typesense library when I use typescript version 4.8.4 and run tsc.

This does not happen when using typescript version 4.7.4

This is using the latest typesense-js version, 1.4.1 (I also had the issue with 1.4.0)

Errors are shown below:

node_modules/typesense/lib/Typesense/Documents.d.ts:113:92 - error TS2344: Type 'T' does not satisfy th

[2022-09-30 19:01] jasonbosco commented on #135
@p-young I just tried to upgrade the typescript version we're using in typesense-js to 4.8.4 and tried to build, but I don't see the errors you're reporting. See https://github.com/typesense/typesense-js/commit/37f4f02f9bf1c7899b2b8dd456301f50a39fd0a8.

I wonder if it's because of the specific typescript configuration you're using...

[2022-10-25 12:36] sbleh opened #137 "Typescript errors"
Encountered the following model error in the `SearchResponseHit['highlights'][0]`:

- `indices` is modeled as `string[]` while it's a `number[]`
- `matched_tokens` is modeled as `string[]` while its a `string[][]` array

[2022-10-26 06:29] sbleh commented on #137
@jasonbosco looks good to me, thanks for the fast fix. And of course, `matched_tokens` can be `string[]` and `string[][]`.

[2022-10-26 15:34] jasonbosco commented on #137
Thank you for confirming!

[2022-10-26 15:34] #137 closed

[2022-10-27 01:01] p-young commented on #135
@jasonbosco maybe the difference is tsconfig, I have strict set to true and it's false in the repository

[2022-10-31 17:28] bmrankin commented on #135
Hey @jasonbosco running into the same errors as @p-young and also running `strict`.

Adding `extends DocumentSchema` to those three locations does allow me to build, but my Typescript is probably as strong as others to know why this resolves the error.

[code]

[code]

[code]

Typescript: `4.8.2`
Typesense: `1.4.2`

My tsconfig
[code]

[2022-11-03 10:20] mkbrechtel commented on #10
I would like to run the frontend for the typesense server on the same host as the server. It would be nice if it would be possible to not set the host in the config or have an option to let the client use a relative path. Could you please open the ticket again, this is something that is usually possible with most API clients.

[2022-11-04 14:57] paulsingh opened #138 "Retrieve stats.json via client?"
This isn't an issue per se... more of a question: I see that the client can retrieve Health and Metrics, is there a reason that Stats (eg, stats.json) isn't also available?

[2022-11-10 21:50] jasonbosco commented on #138
We were thinking about potentially merging the stats and metrics endpoint at some point in the future on the Typesense Server side... So we didn't add it to the clients until we've finalized on what we want to do there.

[2022-11-11 04:35] jasonbosco commented on #135
I was able to replicate these errors when I turned on strict mode too. I've pushed out a potential fix in `1.4.3-2`. Could you give it a shot and let me know if you see the error?

[2022-11-11 07:51] p-young commented on #135
I gave the new typesense-js version (1.4.3-2) along with latest typescript (4.8.4) version a try and the error is gone, thanks @jasonbosco !

[2022-11-11 18:56] jasonbosco commented on #135
Thank you for confirming. This is now available in `1.4.3`.

[2022-11-11 18:56] #135 closed

[2022-11-18 06:12] Bug-Reaper opened #140 "Export documents fails for large data sets (1.6million records)"
## Description

[Export documents](https://typesense.org/docs/0.23.1/api/documents.html#export-documents) fails completely for large collections (memory issue).

I'd guess this is related to the fact that the method tries to return a string and so at some point must put all the collection's documents into memory. The default max-memory-per-variable/max-string-length are fairly low in both JS/Node-

[2022-11-21 18:02] jasonbosco commented on #140
@Bug-Reaper There's already an `exportStream` method: https://github.com/typesense/typesense-js/blob/b0854ab5829b6819e82b6fa9d3304643b9d0772e/src/Typesense/Documents.ts#L255

[2022-11-21 18:02] #140 closed